
body {
  font-family: sans-serif;
  background: #fdfdfd;
  margin: 0;
  padding: 0;
}
.header {
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}
.container {
  display: flex;
  height: calc(100vh - 80px);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 6px;
  padding: 10px;
  overflow: scroll;
  flex-grow: 1;
}
.grid div {
  font-size: 36px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.inspector {
  width: 350px;
  padding: 10px;
  border-left: 1px solid #ccc;
  text-align: center;
}
#glyphCanvas {
  border: 1px solid #999;
  margin-bottom: 1em;
}
